/* line 5, ../sass/main.scss */
.one {
  border: 3px dashed black;
  background-color: cyan;
}

/* line 10, ../sass/main.scss */
.two {
  border: 5px solid black;
  background-color: red;
}

/* line 13, ../sass/main.scss */
.three {
  border: 5px double black;
  background-color: green;
}
