
.footer{
    background-color: rgb(8, 8, 8);
    margin-top: 4rem;
}
.footer__items{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;

}
.footer__item{
    float: left;
    /* width: 25%; */
     margin: auto !important;
    text-align: center;
    padding: 100px;
    color: #ffff;
 
 }
 button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1rem 2rem;
    cursor: pointer;}
    
    .social-icon{
        cursor: pointer;
    }
    .social-icon:hover{
        background-color: rgb(255, 127, 202);
    }