.table{
  overflow: hidden;
    width: 80%;
  margin: 4rem auto;
}
button{
margin: 2rem auto;}
input{
background-color: transparent;
border: none;

    width: 70%;
  
}
.inputs{
background-color: azure;
border: 1px solid black;
width: 11%;
}