/* line 1, ../sass/abstracts/_placeholedr.scss */
header li {
  border-top-left-radius: 25px;
}

/* line 1, ../sass/base/_normalize.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 2, ../sass/layout/_header.scss */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
}
/* line 7, ../sass/layout/_header.scss */
header img {
  width: 100px;
  height: 100px;
}
/* line 12, ../sass/layout/_header.scss */
header ul {
  transition: all 4s ease 4s;
}
/* line 15, ../sass/layout/_header.scss */
header li {
  list-style: none;
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1rem;
  margin-right: 1.5rem;
  color: #77A3C0;
  font-size: 1.1rem;
}
/* line 27, ../sass/layout/_header.scss */
header .icon {
  display: none;
}

@media (max-width: 900px) {
  /* line 32, ../sass/layout/_header.scss */
  header {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    transition: all 2s;
  }
  /* line 39, ../sass/layout/_header.scss */
  header img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
  }
  /* line 45, ../sass/layout/_header.scss */
  header ul {
    transition: all 4s ease 4s;
    background-color: #cf2e0e;
    position: absolute;
    margin-left: -13rem;
    transition: height 200ms ease-in;
    display: none;
  }
  /* line 56, ../sass/layout/_header.scss */
  header li {
    transition: all 4s ease 4s;
    list-style: none;
    display: block;
    margin-top: 1rem;
    padding: 2rem 6rem;
    color: #77A3C0;
    font-size: 1.1rem;
    cursor: pointer;
  }
  /* line 72, ../sass/layout/_header.scss */
  header .icon {
    display: block;
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #5a5a5a;
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }
}
/* line 1, ../sass/pages/home.scss */
.content {
  margin: 0rem 4rem;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}
/* line 6, ../sass/pages/home.scss */
.content h1 {
  font-size: 4rem;
  margin: 5rem auto 2rem;
}

/* line 1, ../sass/components/_button.scss */
button {
  padding: 1rem 2rem;
  background-color: #77A3C0;
  color: #C3CFE2;
  cursor: pointer;
  margin: 4rem auto;
}
/* line 6, ../sass/components/_button.scss */
button:hover {
  background-color: #cf2e0e;
}

/* line 1, ../sass/components/_paragraphs.scss */
p {
  color: #cf2e0e;
  margin-bottom: 2rem;
  line-height: 1.9rem;
}
