<app-header></app-header>
<!-- <app-speakers></app-speakers> -->
<!-- <input type="text" [(ngModel)]="title">

{{title}}


<select [(ngModel)]="num">
    <option >1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>

</select>
{{hamada}}
<button (click)="show()">show</button>
<app-stars [rating]="num" (ratingClicked)="myFun($event)"></app-stars>
<app-stars [rating]="4"  (ratingClicked)="myFun($event)"></app-stars>
<app-stars [rating]="5"  (ratingClicked)="myFun($event)"></app-stars>
<app-stars [rating]="1"  (ratingClicked)="myFun($event)"></app-stars>
<app-stars [rating]="2.5"  (ratingClicked)="myFun($event)"></app-stars> -->
 <app-department-list ></app-department-list>