<h1 class="page-title">Welcome To Our Page</h1>
<ul>
    <li class="applesClass">apples</li>
    <li>oranges</li>
    <li>bananas</li>
</ul>

<p id="one" class="oneClass">Section One</p>


<input id="checkboxOption1" name="checkboxOption1
  " value="option1" type="checkbox"> option1 <br />
<input id="checkboxOption2" name="checkboxOption2
  " value="option1" type="checkbox"> option2 <br />
<input id="checkboxOption3" name="checkboxOption3
  " value="option1" type="checkbox"> option3 <br />


<select name="cars" id="cars">
    <option value="1">option1</option>
    <option value="2">option2</option>
    <option value="3">option3</option>

</select>