 <!-- footer -->
 <section class="footer">
    <div class="footer_content">
    <div class="container">
      
        <div class="footer_items">
        
        <div class="footer_item">
            <h2>About Company</h2>
            <h1>CONSTRUCTION</h1>
            <p class="grey_P">Lorem Ipsum is simply dummy text</p>
            <p>Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s</p>
                <div class="footer_icon">
                <span class="span_icon_footer"><i class="fab fa-facebook-f"></i></span>
                <span class="span_icon_footer"><i class="fab fa-twitter"></i></span>
                <span class="span_icon_footer"><i class="fas fa-bold"></i></span>
                <span class="span_icon_footer"><i class="fas fa-basketball-ball"></i></span>
                <span class="span_icon_footer"><i class="fab fa-linkedin-in"></i></span>
                <span class="span_icon_footer"><i class="fab fa-youtube"></i></span>
            </div>
         

        </div>
        <div class="footer_item">
            <h2>Explor link</h2>
            <div class="footer_item_list">
            <ul>
                <li><i class="fas fa-caret-right arrow_icon"></i>Our services</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Meet our team</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Forum</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Help center</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Contact Us</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Privacy Policy</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Our terms</li>
                <li><i class="fas fa-caret-right arrow_icon"></i>Site map</li>
            </ul>
        </div>
    </div>
       
            <div class="footer_item">
                <h2>Contact us</h2>
               
                <p class="mail_pr"><i class="fas fa-map-marker-alt  mail_icon"></i> 123 New Line, London UK</p>
                <p class="mail_pr"><i class="far fa-envelope mail_icon"></i>hello@contact-us.com</p>
                <p class="mail_pr"><i class="fas fa-mobile mail_icon"></i>+44 00 00 1234<br>+44 00 00 1234</p>

     
                   
                </div>
        </div>
    </div>
    
</div>
</section>
<section class="coppy">
    <p>copyright&#169; 2019 | Designed By <span class="footer__copyright">Web Technologies Team </span></p>
</section>

